:root {
  --max-width: 1280px;
  --paragraph-font: "ArialRegular";
  --title-font: "Georgia";
}
html {
  scroll-behavior: smooth;
}
body {
  background: #bfbfbf;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: var(--max-width);
}
header {
  width: 100%;
}
main {
  width: 100%;
}
footer {
  width: 100%;
}
.page-header {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: url("./assets/images/start-screen-gradient-background.jpg")
    no-repeat;
  padding: 60px 40px;
}
.logo {
  text-decoration: none;
}
h1 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 32px;
  color: #f1cdb3;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0 0 10px 0;
}
p {
  margin: 25px 0;
}
.logo_subtitle {
  font-family: var(--paragraph-font);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0 0 0 5px;
}
.logo__menu{
  display: none;
}
.nav {
  margin-left: auto;
}
#menu-toggle{
  display: none;
}
.navbar {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.navbar__item {
  margin: 0 0 0 36px;
}
.navbar__item a {
  font-family: var(--paragraph-font);
  color: #cdcdcd;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  transition: 0.3s;
}
.navbar__item a:hover {
  color: #fafafa;
}
.active a {
  color: #fafafa;
  padding-bottom: 3px;
  border-bottom: 1px solid #f9dd94;
}
.not-only-people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  background: url("./assets/images/start-screen-gradient-background.jpg")
    no-repeat;
  padding: 0 40px;
  background-position: top -180px center;
  margin-top: -1px;
}
.not-only__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.title_container_one {
  width: 39%;
  padding-bottom: 81px;
  justify-content: center;
}
.img-not-only__dog {
  width: 100%;
}
h2 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin: 0 0 27px 0;
}
.not-only__container__paragraph {
  font-family: var(--paragraph-font);
  color: #cdcdcd;
  font-size: 15px;
  line-height: 160%;
  margin: 14px 0;
}
.not-only__container__btn {
  font-family: var(--title-font);
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  margin-top: 26px;
  text-decoration: none;
}
.not-only__container__btn:hover {
  background: #fddcc4;
}
.about-the-shelter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 80px 215px 72px 215px;
  background: #ffffff;
}
.about-the-shelter__container__text {
  width: 430px;
}
h3 {
  font-family: var(--title-font);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 400;
  margin: 14px 0;
}
.about-the-shelter__container__text___title {
  margin: 0;
}
.about-the-shelter__container__text__paragraph {
  font-family: var(--paragraph-font);
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.our-pets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}
.title-center {
  text-align: center;
  margin-top: 78px;
}
.our-pets___container___item___navigation {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.our-pets___container___item___navigation:hover {
  background: #fddcc4;
}
.our-pets___container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.our-pets___container___item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
}
.our-pets___container___item:hover {
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-pets___container___item:hover .container___item__btn {
  background: #fddcc4;
}
.our-pets___container___item:nth-child(3) {
  margin: 0 90px;
}
.our-pets___container___item___navigation:first-child {
  margin-right: 53px;
}
.our-pets___container___item___navigation:last-child {
  margin-left: 53px;
}
.title-pets {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}
.container___item__btn {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 15px 42px;
  margin: 0 0 30px 0;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #fafafa;
}

.get-rest {
  margin: 58px 0 100px 0;
  border-width: inherit;
}
.help-the-shelter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.title-help-section {
  margin-top: 81px;
}
.help-the-shelter__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 43px 0 47px 0;
}
.help-the-shelter__container___item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 60px 25px 60px;
}
.you-make-donation {
  background: #f6f6f6;
}
.you-make-donation___container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 66px 0 80px 0;
}
.you-make-donation___container___item {
  margin: 0 15px;
}
.you-make-donation___container___item:last-child {
  width: 380px;
}
.img-about-pets {
  margin-bottom: 25px;
}
.img-donats {
  margin-bottom: 13px;
}
.you-make-donation__container__text__paragraph {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 19px 0;
}
.you-make-donation__container__card {
  width: 349px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  background: #f1cdb3;
  border-radius: 9px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.credit-number {
  margin: 0;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}
.you-make-donation__container__text__notes {
  margin: 20px 0;
  font-family: var(--paragraph-font);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
.contacts {
  background: url("./assets/images/footer-gradient-background.png") no-repeat;
  background-size: cover;
}
.contacts___container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
.contact__container___item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact__container___item:nth-child(2) {
  width: 302px;
}
.contacts___title {
  margin: 0;
  font-size: 35px;
  letter-spacing: 0.06em;
}
.contacts___info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.contacts___text {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
  margin: 0 0 0 20px;
}
.email {
  margin-bottom: 40px;
}
.adress {
  margin-bottom: 40px;
}

@font-face {
  font-family: "ArialRegular";
  src: url(./assets/fonts/arial/arial-regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Georgia";
  src: url(./assets/fonts/georgia/georgia-regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1279px) {
  .contacts___container {
    justify-content: space-around;
  }

  .not-only-people {
    flex-direction: row;
    align-content: flex-end;
    background: url(./assets/images/start-screen-gradient-background-mob.jpg)
      no-repeat;
    background-position: top -150px center;
    background-size: cover;
  }
  .page-header {
    background: url(./assets/images/start-screen-gradient-background-mob.jpg)
      no-repeat;
    background-size: cover;
    padding: 30px 30px 60px 30px;
  }
  .title_container_one {
    width: 39%;
    align-items: center;
  }
  h2 {
    padding: 0 54px;
  }
  .not-only__container {
    max-width: 61%;
  }
  .not-only__container__paragraph {
    padding: 0 54px;
  }
  .about-the-shelter {
    flex-direction: column-reverse;
  }
  .img-about-pets {
    margin-top: 54px;
  }
  .our-pets___container___item:nth-child(4) {
    display: none;
  }
  .our-pets___container___item:nth-child(3) {
    margin: 0 0 0 40px;
  }
  .our-pets___container___item___navigation:first-child {
    margin-right: 12px;
  }
  .our-pets___container___item___navigation:last-child {
    margin-left: 12px;
  }
  .get-rest {
    margin: 58px 0 100px 0;
  }
  .help-the-shelter__container {
    margin: 43px 9px 47px 9px;
    width: 90%;
  }
  .help-the-shelter__container___item {
    width: 170px;
    padding: 0 30px 25px 30px;
    width: 20%;
  }
  .you-make-donation___container {
    flex-direction: column-reverse;
  }
  .img-donats {
    margin-top: 40px;
  }
  .contacts___title {
    padding: 0;
  }
  .contacts___container {
    padding: 31px 33px 0 33px;
  }
  .contacts___background {
    margin-top: 65px;
  }
  .email {
    margin-bottom: 0;
  }
  .adress {
    margin-bottom: 0;
  }
  .contacts___info {
    padding-top: 33px;
  }
  .contact__container___item{
    width: 40%;
  }
}
@media (max-width: 768px) {
  .img-not-only__dog {
    margin: 19px 0 0 69px;
}
  .not-only-people {
    flex-direction: column;
    align-content: center;
    padding: 0 100px;
  }
  h2{
    align-self: normal;
  }
  .title_container_one {
    width: 100%;
  }
  .not-only__container__btn {
    margin: 32px 0 0 0;
  }
  .get-rest {
    margin: 56px 0 100px 0;
}
  .not-only__container{
    max-width: 100%;
  }
  .help-the-shelter__container {
    margin: 43px 9px 47px 9px;
    width: auto;
  }
  .help-the-shelter__container___item {
    width: 170px;
    padding: 0 30px 25px 30px;
  }
  .contact__container___item{
    width: auto;
  }
}
@media(max-width: 767px) {
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1;
    margin: 51px 53px 0 0;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -10px;
  }
  .menu-btn > span::after {
    content: '';
    top: 10px;
  }
   
  .navbar{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 248px 0;
    list-style: none;
    background-color: #292929;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
   
  .navbar__item{
    display: block;
    padding: 12px 24px;
    font-family: var(--paragraph-font);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .logo__menu{
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
    text-decoration: none;
    transition-duration: .25s;
  }
  .logo_subtitle__menu{
    font-family: var(--paragraph-font);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin: 0 0 0 5px;
  }
  .navbar__item:hover {
    background-color: #f1cdb3;
  }
  .navbar__item:hover a{
    color: #000;
  }
  
  #menu-toggle{
    display: block;
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .navbar{
    visibility: visible;
    right: 0;
  }
  #menu-toggle:checked ~ .menu-btn{
    position: fixed;
  }
  .about-the-shelter{
    padding: 0;
  }
  .about-the-shelter__container__text{
    width: auto;
  }
  .you-make-donation___container___item:last-child{
    width: auto;
  }
  .you-make-donation__container__card{
    width: auto;
  }
  .img-not-only__dog{
    margin:0;
  }
  .img-donats{
    width: 100%;
  }
  .not-only-people{
    padding: 0;
  }
  .page-header{
    padding: 32px 53px 60px 10px;
    background: url(./assets/images/start-screen-gradient-background320.jpg) no-repeat;
    background-size: cover;
  }
  .not-only-people{
    background: url(./assets/images/start-screen-gradient-background320.jpg) no-repeat;
    background-position: top -150px center;
    background-size: cover;
  }
  h2{
    padding:0;
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .not-only__container__paragraph{
    padding: 0 10px;
    text-align: center;
  }
  .not-only__container__btn{
    margin: 27px 0 0 0;
  }
  .title_container_one{
    padding-bottom: 93px;
  }
  .img-not-only__dog{
    width: 82%;
    margin: 11px 0 0 49px;
  }
  .about-the-shelter__container__text___title{
    font-size: 25px;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 3px;
  }
  .about-the-shelter__container__text__paragraph{
    text-align: justify;
    padding: 0 25px;
  }
  p{
    margin: 22px 0;
  }
  .about-the-shelter__container{
    text-align: center;
  }
  .img-about-pets{
    width: 86%;
    margin-top: 18px;
    margin-bottom: 41px;
  }
  .title-center{
    font-size: 25px;
    margin-top: 42px;
  }
  .our-pets___container{
    margin-top: 28px;
    justify-content: space-evenly;
  }
  .container___item__btn{
    padding: 12px 42px;
  }
  .our-pets___container___item:nth-child(3){
    display: none;
  }
  .our-pets___container___item___navigation{
    margin-top: 22px;
  }
  .our-pets___container___item___navigation:nth-child(1){
    order: 1;
  }
  .our-pets___container___item___navigation:nth-child(5){
    order: 2;
    margin-left: 0px;
  }
  .get-rest{
    margin: 41px 0 42px 0;
  }
  .title-support{
    font-size: 15px;
line-height: 110%;
margin: 20px 0;
  }
  .help-the-shelter__container{
    margin: 26px 15px 11px 15px;
    justify-content:  space-between;
  }
  .help-the-shelter__container___item{
    width: 130px;
    padding: 0 0 9px 0;
  }
  .image-icons{
    width: 40%;
  }
  .title-donats{
    text-align: center;
    font-size: 25px;
  }
  .you-make-donation___container{
    padding: 28px 0 42px 0;
  }
  .you-make-donation__container__text__paragraph{
    text-align: center;
    line-height: 160%;
    letter-spacing: 0;
  }
  .you-make-donation__container__card{
    margin: 0 5px;
  }
  .credit-number{
    font-size: 15px;
line-height: 110%;
  }
  .you-make-donation__container__text__notes{
    margin: 22px 5px;
    text-align: justify;
  }
  .you-make-donation___container___item:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-donats{
    width: 90%;
    margin:20px 0 0px 0;
  }
  .contacts___container{
    padding: 30px 0 0 0;
  }
  .contact__container___item{
    align-items: center;
}
  .contacts___title{
    font-size: 25px;
  }
  .contacts___title br{
    display: none;
  }
  .contacts___info{
    padding-top: 39px;
  }
  .title___two{
    padding: 40px 5px 0 5px;
  }
  .address___cental{
    margin: 0 8px 0 19px;
  }
  .address___south{
    margin: 0 31px 0 21px;
  }
  .contacts___background{
    margin-top: 41px;
    width: 86%;
  }
}